@model IEnumerable<NexusWeb.Models.User>
@using NexusWeb.Helpers;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/Layout.cshtml";

}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">User Lists</h3>
                            <div class="nk-block-des text-soft">
                                <p>You have total @ViewBag.CountTotal users.</p>
                            </div>
                        </div>
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="more-options">
                                    <em class="icon ni ni-more-v"></em>
                                </a>
                                <div class="toggle-expand-content" data-content="more-options">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right">
                                                    <em class="icon ni ni-search"></em>
                                                </div>
                                                <input type="text" class="form-control" id="default-04" placeholder="Search by name">
                                            </div>
                                        </li>
                                        <li class="nk-block-tools-opt">
                                            <a href="#" class="btn btn-icon btn-primary d-md-none">
                                                <em class="icon ni ni-plus"></em>
                                            </a>
                                            <a asp-action="Create" class="btn btn-primary d-none d-md-inline-flex">
                                                <em class="icon ni ni-plus"></em>
                                                <span>Add</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-block">
                    <div class="nk-tb-list is-separate mb-3">
                        <div class="nk-tb-item nk-tb-head">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid">
                                    <label class="custom-control-label" for="uid"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <span class="sub-text">User</span>
                            </div>
                            <div class="nk-tb-col tb-col-mb">
                                <span class="sub-text">Ordered</span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span class="sub-text">Phone</span>
                            </div>
                            <div class="nk-tb-col tb-col-lg">
                                <span class="sub-text">Adress</span>
                            </div>
                            <div class="nk-tb-col tb-col-lg">
                                <span class="sub-text">Last Order</span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span class="sub-text">Status</span>
                            </div>
                            <div class="nk-tb-col nk-tb-col-tools">
                                <span class="sub-text">Act</span>
                            </div>
                        </div>

                        @foreach (var item in Model)
                        {


                            <div class="nk-tb-item">
                                <div class="nk-tb-col nk-tb-col-check">
                                    <div class="custom-control custom-control-sm custom-checkbox notext">
                                        <input type="checkbox" class="custom-control-input" id="uid.@item.Id">
                                        <label class="custom-control-label" for="uid.@item.Id"></label>
                                    </div>
                                </div>
                                <div class="nk-tb-col">
                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        <div class="user-card">
                                            @{
                                                if (item.Image == null)
                                                {
                                                    <div class="user-avatar bg-primary"><span>None</span></div>

                                                }
                                                else
                                                {
                                                    <div class="user-avatar">
                                                        <img src="@Url.Content("~/admin/images/"+item.Image)">
                                                    </div>
                                                }
                                            }

                                            <div class="user-info">
                                                <span class="tb-lead">
                                                    @Html.DisplayFor(modelItem => item.FullName) <span class="dot dot-success d-md-none ms-1"></span>
                                                </span>
                                                <span>@Html.DisplayFor(modelItem => item.UserName)</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="nk-tb-col tb-col-mb">
                                    <span class="tb-amount">
                                        @*                                         @Html.DisplayFor(modelItem => item.Orders.Sum(x => x.TotalInvoice))
                                    *@                                        <span class="currency">USD</span>
                                    </span>
                                </div>
                                <div class="nk-tb-col tb-col-md">
                                    <span>@Html.DisplayFor(modelItem => item.Phone)</span>
                                </div>
                                <div class="nk-tb-col tb-col-lg">
                                    <span>@Html.DisplayFor(modelItem => item.Address)</span>
                                </div>
                                <div class="nk-tb-col tb-col-lg">
                                    @if(item.Orders == null)
                                    {
                                        <span>
                                            0
                                        </span>
                                    }else{
                                        <span>
                                           1
                                        </span>
                                    }

                                </div>
                                <div class="nk-tb-col tb-col-md">
                                    @if (item.Status == 1)
                                    {
                                        <span class="tb-status text-success">Active</span>
                                    }
                                    else
                                    {
                                        <span class="tb-status text-danger">Not Active</span>
                                    }

                                </div>
                                <div class="nk-tb-col nk-tb-col-tools">
                                    <ul class="nk-tb-actions gx-1">
                                        <li class="nk-tb-action-hidden">
                                            <a asp-action="Edit" asp-controller="Users" asp-route-id="@item.Id" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Edit" data-bs-original-title="Edit">
                                                <em class="icon ni ni-edit-alt-fill"></em>
                                            </a>
                                        </li>
                                        <li class="nk-tb-action-hidden">
                                            <a asp-action="Details" asp-controller="Users" asp-route-id="@item.Id" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="View" data-bs-original-title="View">
                                                <em class="icon ni ni-eye-alt-fill"></em>
                                            </a>
                                        </li>
                                        <li class="nk-tb-action-hidden">
                                            <a asp-action="Delete" asp-controller="Users" asp-route-id="@item.Id" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete">
                                                <em class="icon ni ni-trash-fill"></em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        }





                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <div class="nk-block-between-md g-3">
                                <div class="g">
                                    <ul class="pagination justify-content-center justify-content-md-start">
                                        <li class="page-item">
                                            <a class="page-link" href="#">Prev</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item">
                                            <span class="page-link">
                                                <em class="icon ni ni-more-h"></em>
                                            </span>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">6</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">7</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>