@model NexusWeb.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Admin/Layout.cshtml";
}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block-head nk-block-head-lg wide-sm">
                        <div class="nk-block-head-content">
                            <div class="nk-block-head-sub">
                                <a class="back-to" asp-action="Index">
                                    <em class="icon ni ni-arrow-left"></em>
                                    <span>List Order</span>
                                </a>
                            </div>
                            <h2 class="nk-block-title fw-normal">Details Order</h2>
                        </div>
                    </div>
                    <div class="nk-block nk-block-lg">
                        <div class="card card-bordered card-preview">
                            <div class="card-inner">
                                <div class="preview-block">
                                    <dl class="row">
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Total)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Total)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Status)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Status)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.CreateAt)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.CreateAt)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.User)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.User.Id)
                                        </dd>
                                    </dl>
                                </div>
                                <div>
                                    <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model?.Id">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>