@model NexusWeb.ViewModels.ProductVM;

@{
    ViewData["Title"] = "Edit Product";
    Layout = "~/Views/Shared/Admin/Layout.cshtml";
}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block-head nk-block-head-lg wide-sm">
                        <div class="nk-block-head-content">
                            <div class="nk-block-head-sub">
                                <a class="back-to" asp-action="Index" asp-controller="Users">
                                    <em class="icon ni ni-arrow-left"></em>
                                    <span>List Products</span>
                                </a>
                            </div>
                            <h2 class="nk-block-title fw-normal">Edit Product</h2>
                        </div>
                    </div>
                    <div class="nk-block nk-block-lg">
                        <div class="card card-bordered card-preview">
                            <div class="card-inner">
                                <div class="preview-block">
                                    <form class="row gy-4" asp-action="Edit" enctype="multipart/form-data" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="Name">Name</label>
                                                <div class="form-control-wrap">
                                                    <input asp-for="Name" class="form-control" />
                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="Price">Price</label>
                                                <div class="form-control-wrap">
                                                    <input asp-for="Price" type="number" class="form-control" />
                                                    <span asp-validation-for="Price" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="Detail">Detail</label>
                                                <div class="form-control-wrap">
                                                    <input asp-for="Detail" class="form-control" />
                                                    <span asp-validation-for="Detail" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="@Model.ImageData">Images File Upload</label>
                                                <div class="form-control-wrap">
                                                    <div class="form-file">
                                                        <input type="file" asp-for="@Model.ImageData" name="ImageData" id="ImageData" class="form-file-input">
                                                        <label class="form-file-label">Choose file</label>
                                                        <span asp-validation-for="@Model.ImageData" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="@Model.LImageData">Upload multiple photos</label>
                                                <div class="form-control-wrap">
                                                    <div class="form-file">
                                                        <input type="file" asp-for="@Model.LImageData" multiple name="LImageData" id="LImageData" class="form-file-input">
                                                        <label class="form-file-label">Choose file</label>
                                                        <span asp-validation-for="@Model.LImageData" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="DistributorId">Distributor</label>
                                                <div class="form-control-wrap ">
                                                    <div class="form-control-select">
                                                        <select asp-for="DistributorId" class="form-control" asp-items="ViewBag.DistributorId"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="CategoryId">Category</label>
                                                <div class="form-control-wrap ">
                                                    <div class="form-control-select">
                                                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="Description">Note</label>
                                                <div class="form-control-wrap">
                                                    <textarea class="form-control no-resize" asp-for="Description">Description</textarea>
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-lg btn-primary">Save</button>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

